<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/blog1.css">
  </head>
  <body>
  
    <% if (typeof user != 'undefined'){ %>
        <%- include('../layout/nav.ejs',{author : user.user_name}) %>
     <% } else{ %>
         <%- include('../layout/nav.ejs') %>   
         <% } %>
    <main>
      <form class="product-form" action="/createnewBlog" method="POST">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" />

          <label for="description">Description</label>
          <input type="text" name="description" id="description" />

          <label for="tags">Tags</label>
          <input type="text" name="tags" id="tags" />

          <label for="body">body</label>

          <textarea name="body" id="body" rows="40" cols="50" onkeyup="calcRT(this)">
</textarea>
        </div>
        <label for="reading_time" class="visibility">Reading Time</label>
        <input type="text" name="reading_time" id="reading_time"  class="visibility"/>
      

        <button type="submit">Create Blog</button>
      </form>
    </main>
    <script>
        window.calcRT = () => {
    
    var text = document.getElementById("body").value;
    const wordsPerMinute = 200;
    console.log(`this is ${text}`); // Average case.
    let result;
    
    let textLength =text.split(" ").length; // Split by words
    if(textLength > 0){
      let value = Math.ceil(textLength / wordsPerMinute);
      result = `${value} min read`;
      console.log(value);
    }
   
      document.getElementById("reading_time").value  = result;


 
  };
   
     </script>
  </body>
</html>

